
#home {
    position: relative;
    background: url('../../assets/bgIMG.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    .app__wrapper{
        padding: 0;
    }
}

.app__header {
    flex: 1;
     width: 100%;
     height: 100%;
     flex-direction: row;

     padding: 8rem 2rem 0;
     @media screen and (min-width: 1201px) {
        padding: 8rem 15rem 0;
    }
     @media screen and (min-width: 2000px) {
         padding-top: 8px;
     }
     @media screen and (max-width: 1200px) {
        flex-direction: column;
        padding: 1rem 1rem 0;

    }
}

.app__header-info{
    flex: 0.65;
    display: flex;
    flex-direction: column;
    background-color: rgba(37, 103, 142, 1);
    border: 10px solid #cba558;
    justify-content: flex-start; 
    align-items: flex-start;
    // height: 100%;
    box-shadow: 10px 40px 40px rgba(37, 103, 142, 0.5);
    padding: 4rem;
    border-radius: 20px;
    width: 100%;
    @media screen and (max-width: 500px) {
        padding: 2rem;
    }
    p {
        font-size: 25px;
        font-weight: bolder;
        color: #fff;
        @media screen and (max-width: 500px) {
            font-size: 20px;
        }
        span {
            font-size: 40px;
            @media screen and (max-width: 500px) {
                font-size: 35px;

            }

        }
        span img {
            width: 35px;
            @media screen and (max-width: 500px) {
                width: 30px;

            }
        }
    }
    a {
            text-decoration: none;
            background-color: #cba558;
            color: #fff;
            font-weight: bolder;
            padding: 1rem;
            border: 2px solid #cba558;
            border-radius: 6px;
            text-transform: uppercase;
            margin-top: 1rem;
            cursor: pointer;
            font-size: 1.1rem;
            transition: all 0.4s ease-in-out; //transition is applied on hover
            @media screen and (max-width: 500px) {
                padding: 0.8rem;
                font-size: 0.8rem;

            }
            &:hover {
                background-color: #6d9cb8;
                opacity: 1;
                color: white;
                border: 2px solid #6d9cb8;
            }
        }
    
}

.app__header-img{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    img {
        width: 100%;
        object-fit: contain;
        z-index: 1;
    }
}
// .app__header-footer{
//     flex: 1;
//     width: 100%;
//     height: 100%;
//     flex-direction: row;

//     padding: 0rem 2rem 0;
//     @media screen and (min-width: 1201px) {
//        padding: 0rem 15rem 0;
//        padding-bottom: 8rem;
//    }
//     @media screen and (min-width: 2000px) {
//         padding-top: 8px;
//     }
//     @media screen and (max-width: 1200px) {
//        flex-direction: column;
//        margin-bottom: 10px;
//    }
// }
// .app__header-footer-info {
//     flex: 0.65;
//     display: flex;
//     flex-direction: row;
//     justify-content: center; 
//     align-items: center;
//     height: 100%;
//     box-shadow: 0 0 20px rgba(37, 103, 142, 0.8);
//     padding: 4rem;
//     @media screen and (max-width: 500px) {
//         padding: 2rem;
//     }
//     border-radius: 20px;
//     width: 100%;
//     font-size: larger;
//     margin-top: 45px;

//     p {
//         font-size: 35px;
//         color: #25678e;
//         font-weight: bolder;
//         @media screen and (max-width: 500px) {
//             font-size: 25px;
//         }
//         span{
//             color: #cba558;
//         }
//     }
// }